@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

svg{
    color: white;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    height: 70px;
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-bar h2{
    font-size: 30px;
    margin-left: 10px;
}

.nav-bag{
    display: flex;
    align-items: center;
}

.bag-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}